/*Retirar Margem*//*Pintar o fundo*/
body{
    margin: 0;
    background-color: white;
}


/*Estilização do Header*/
header{
    background-color: white;
}


/*Estilização do Logo*/

.logo{
    width: 15%;
    padding: 10px 0 20px 5%;
    /*left:5% top:10px bottom:20px*/
}

.banner{
    width: 100%
}
    

/*Estilização do Menu*/
nav{
    color: black;
    position:absolute;
    top: 10%;
    right: 5%;
    font-size: 35px;
    font-family: sans-serif;

}

nav li{
    display: inline;
    margin-right: 40px;
    font-weight: bold;
}


.divHeader{
    position:relative;
}

/*Estilização do SOBRE NÓS*/
.sobrenos{
    width:60%;
    text-align: justify;
    line-height: 1.5;
    margin-left: 20%;
    font-family: sans-serif;

}
.img_sobrenos{
    width:20%;
    float:left;
    margin-right: 20px;
}
.titulo_sobre_nos{
    clear:left;
    
}

/*Estilização TÍTULOS*/
.titulos {
    text-align: center;
    color: #004AAD;
}

/*Estilização do NOSSO ESTABELECIMENTO*/
.mapa{
    text-align: center;
    background: linear-gradient(#FFFFFF,#96bff3)
}

.img_servico{
    width:20%;
    float:right;
    margin-left: 20px
}
